body {
  background-color: #a9d7d1;
}
#title {
  padding: 25px 0 20px;
  width: 100%;
  text-align: center;
}
#form-container {
  /* margin: 15px 380px 0; */
  margin: auto;
  width: 55%;
  background-color: white;
}
#description {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.form-group {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.required::before {
  content: "*"
}
.form-group label {
  width: 40%;
  text-align: right;
}
.form-group input {
  width: 48%;
  text-align: left;
  height: 40px;
}
